
#titulo{
  margin:30px;
}
.table table-dark{
  margin: 10px;
}

.formLogin{
  margin: 30px;
}

.tituologin{
  text-align: center;
  font-size: 20px;
}
.tituloIndex{
  font-family:
}
.prueba{
  color:blue;
}
.tablaCancion{
  background-color: blue;
  border: 2px solid gray;
  width: auto;
  height: auto;
  border: 2px solid gray;
  margin: 10px

}
.barraPrincipal{
  padding: 10px;
}
.divPrincipal{
  width: 750;
  height: auto;
  border: 2px solid gray;
  margin-left: 260px;
  margin-top:10px;
}
